.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}
.Side_bar_nv{
    position: absolute;
    top : 40px;
    left: 10px;
    height: 90%;
    background-color: #ecf0f3;
    box-shadow: 10px 10px 10px #d1d9e6, -10px -10px 10px #f9f9f9;
    border-radius: 12px;
    overflow: hidden;
}
.logo_sidebar{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
body {
    background-color: #ecf0f3;
}
.widget-card {
    background-color: #ecf0f3;
    border-radius: 15px;
    margin-bottom: 30px;
    padding: 20px;
    box-shadow: 0px 10px 20px rgba(55, 55, 89, 0.08);
}
.widget-card .widget-title,
.widget-card .widget-info {
    display: flex;
    justify-content: space-between; }

.body-content{
    position: absolute;
    width: 1200px;
    height : 650px;
    top: 80px;
    left : 300px;
    /* border: 1px solid; */
}
.Card
{
    background-color: #ecf0f3;
    border-radius: 15px;
    margin-bottom: 30px;
    padding: 20px;
    box-shadow: 0px 10px 20px rgba(55, 55, 89, 0.08);
    min-width : 580px;
    max-height : 500px;
    position: absolute;
    right: 10px;
    z-index: 10;
}
::-webkit-scrollbar {
    width: 5px;
}
/* Track */
::-webkit-scrollbar-track {
    background: #f7f6f6;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #4B70E2;
}
